<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.GradeCalcMapper">
	
    <select id="list" resultType="hashmap">
      	select * from gradecalc
    </select>
    <select id="read" resultType="hashmap">
    	select * from gradecalc 
    	where gid=#{gid}
    </select>
	<insert id="insert">
	  	insert into gradecalc (uid, gscore, gcredit, ggrade)
	  	values (#{uid}, #{gscore}, #{gcredit}, #{ggrade})
	</insert>
	<update id="update">
	  	update gradecalc set uid=#{uid}, gscore=#{gscore}, gcredit=#{gcredit}, ggrade=#{ggrade}
	  	where gid=#{gid}
	</update>
	
	<delete id="delete">
	  	delete from gradecalc 
	  	where gid=#{gid}
	</delete>
</mapper>