<mapper namespace="com.example.mapper.PostsMapper">
	<select id="list" resultType="hashmap"> 
		select *, date_format(regdate, '%Y-%m-%d %T') fmtdate, 
		from posts where title like concat('%', #{query}, '%') 
		order by pid desc limit #{start}, #{size} 
	</select>
	
	<select id="read" resultType="hashmap"> 
		select *, date_format(regdate, '%Y-%m-%d %T') fmtdate, from posts 
		where pid=#{pid} 
	</select>
	
	<select id="total" resultType="int"> 
		select count(*) from posts 
		where title like concat('%', #{query}, '%') 
	</select>
	
	<select id="comment" resultType="hashmap"> 
		select *, date_format(regdate, '%Y-%m-%d %T') from pcomments 
		where pid=#{pid} 
		order by pcid desc limit #{start}, #{size} 
	</select>
	
	<select id="commTotal" resultType="int"> 
		select count(*) from pcomments 
		where pcid=#{pcid} 
	</select>
	
	<select id="commRead" resultType="com.example.domain.pcommentsVO"> 
		select * from pcomments 
		where pcid=#{pcid} 
	</select>
	
	<insert id="insert"> 
		insert into posts(uid, writer, title, contents, regdate) values(#{uid}, #{writer}, #{title}, #{contents}, #{regdate}) 
		</insert>
	
	<insert id="commIn"> 
		insert into pcomments(pid, writer, body) values(#{pid}, #{writer}, #{body}) 
	</insert>
	
	<update id="update"> 
		update posts set writer=#{writer}, title=#{title}, contents=#{contents}, regdate=#{regdate} 
		where pid=#{pid} 
	</update>
	
	<update id="commUp"> 
		update pcomments set body=#{body}, regdate=now() 
		where pcid=#{pcid} 
	</update>
	
	<update id="viewcnt"> 
		update posts set vcnt=vcnt+1 
		where pid=#{pid} 
	</update>
	
	<update id="commcnt"> 
		update posts set rcnt=rcnt+#{amount} 
		where pid=#{pid} 
	</update>
	
	<delete id="delete"> 
		delete from posts where pid=#{pid} 
	</delete>
	
	<delete id="commDel"> 
		delete from pcomments 
		where pcid=#{pcid} 
	</delete>
</mapper>