<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.PostsMapper">
	<insert id="insert_posts">
	  insert into posts (pid,writer,title,contents,regdate)
	  values (#{pid},#{writer},#{title},#{contents},#{regdate})
	</insert>

	<update id="update_posts">
	  update posts set
	  pid = #{pid},
	  writer = #{writer},
	  title = #{title},
	  contents = #{contents},
	  regdate = #{regdate},
	  where pid = #{pid}
	</update>

	<delete id="delete_posts">
	  delete from posts where pid = #{pid}
	</delete>
</mapper>