<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMapper">
    <select id="list" resultType="hashmap">
        select * from users
    </select>
	  <insert id="insert">
        insert into users(uid, upass, uname, phone,school, address1, address2)
        values(#{uid},#{upass},#{uname},#{phone}, #{school}, #{address1},#{address2})
	  </insert>
	  <update id="passUpdate">
    	  update users set upass=#{upass} where uid=#{uid}
    </update>
	  <update id="image">
        update users
        set image=#{image}
        where uid=#{uid}
	  </update>
    <update id="update">
        update users set
        uname=#{uname}, phone=#{phone}, school=#{school},
        address1=#{address1}, address2=#{address2}
        where uid=#{uid}
    </update>
	  <select id="read" resultType="hashmap">
        select *, date_format(regdate, '%Y-%m-%d %T') fmtdate
        from users
        where uid=#{uid}
	  </select>
    <select id="login" resultType="com.example.domain.UserVO">
        select * from users where uid=#{uid}
    </select>
    
</mapper>