<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
    <div class="my-5">
        <h1 class="text-center mb-5">회원가입</h1>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <form name="frm" class="card p-3" enctype="multipart/form-data">
                    <div class="input-group mb-2">
                        <span class="input-group-text">아이디</span>
                        <input name="uid" class="form-control" autocomplete="username">
                        <button id="btn-check" class="btn btn-primary" type="button">중복체크</button>
                    </div>
                    <div class="input-group mb-2">
                        <span class="input-group-text">비밀번호</span>
                        <input name="upass" type="password" class="form-control" autocomplete="new-password">
                    </div>
                    <div class="input-group mb-2">
                        <span class="input-group-text">이름</span>
                        <input name="uname" class="form-control" autocomplete="name">
                    </div>
                    <div class="input-group mb-2">
                        <span class="input-group-text">전화</span>
                        <input name="phone" class="form-control" autocomplete="tel">
                    </div>
                    <div class="input-group mb-2">
                        <span class="input-group-text">학교</span>
                        <input name="school" class="form-control" autocomplete="organization">
                    </div>
                    <div class="input-group mb-2">
                        <span class="input-group-text">주소</span>
                        <input name="address1" class="form-control" readonly autocomplete="street-address">
                        <button id="btn-search" class="btn btn-primary" type="button">검색</button>
                    </div>
                    <input name="address2" class="form-control" placeholder="상세주소" autocomplete="address-line2">
                    <div class="text-center my-3">
                        <button class="btn btn-primary" type="submit">등록</button>
                        <button class="btn btn-secondary" type="reset">취소</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        let checked = false;
        $(frm).on("submit", function (e) {
            e.preventDefault();
            const uid = $(frm.uid).val();
            const uname = $(frm.uname).val();
            const upass = $(frm.upass).val();
            const phone = $(frm.phone).val();
            const school = $(frm.school).val();  
            const address1 = $(frm.address1).val();
            const address2 = $(frm.address2).val();

            if (uid == "" || upass == "" || uname == "") {
                alert("아이디, 비밀번호, 이름을 꼭 입력하세요!");
                return;
            }

            // 중복체크
            if (!checked) {
                alert("아이디 중복체크를 하세요!");
                return;
            }

            if (confirm("회원가입을 하실래요?")) {
            	
                // 회원가입
                $.ajax({
                    type: "POST",
                    url: "/users/insert",
                    data: JSON.stringify({uid, upass,uname, phone, school, address1, address2}),
                    contentType: "application/json",
                    success: function () {
                        alert("회원가입 완료!");
                        location.href = "/users/login";
                    }
                });
            }
        });

        $("#btn-check").on("click", function () {
            const uid = $(frm.uid).val();
            const upass = $(frm.upass).val();
            $.ajax({
                type: "POST",
                url: "/users/login",
                data: JSON.stringify({ uid: uid, upass }),
                contentType: "application/json",
                success: function (data) {
                    if (data == 0) {
                        alert("사용가능한 아이디입니다");
                        checked = true;
                    } else {
                        alert("이미 사용중인 아이디입니다");
                    }
                }
            });
        });

        $(frm.uid).on("change", function () {
            checked = false;
        });

        $("#btn-search").on("click", function () {
            new daum.Postcode({
                oncomplete: function (data) {
                    const address = data.address;
                    const building = data.buildingName ? `(${data.buildingName})` : '';
                    $(frm.address1).val(address + building);
                }
            }).open();
        });
    </script>
</body>
</html>
